<?xml version="1.0" encoding="UTF-8" ?>
<!-- <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd"> -->
 <!-- "file:///D:/Web/mybatis-3.5.16/mybatis-3-config.dtd"; 파일 직접 참조 -->

<configuration>
	<!-- 
	<typeAliases>
		<typeAlias type="user.bean.UserDTO" alias="user" />
		<typeAlias type="user.bean.UserUploadDTO" alias="upload" />
	</typeAliases>
	 -->
</configuration>